*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
}
.container{
    width: 80vw;
    margin:0 auto;
    background-color:rgba(78, 201, 245,0.4);
    height: 80vh;
    padding: 5px;
}
header{
   width:90%;
    text-align:center;
    font-size:40px;
    margin:5% auto;
    min-height:60px;
    font-weight: 900;
    letter-spacing: 5px;
}
section{
    display: flex;
    justify-content:space-around ;
    flex-wrap:wrap-reverse;
}
figure{
    width:45%;
    height: 30%;
    text-align:center;
    min-height:400px;
   background-image:url("../img/duck sprite (2).png") ;
    background-position: 0px -20px;
    background-repeat: no-repeat;
    margin-left:80px;
}
article{
    horiz-align: center;
    width:48%;
    height: 30%;
    text-align:center;
    min-height:400px;
    padding:4% 0;
}
.key{
width:50px;
    height:50px;
    text-align:center;
    padding:5px;
    margin:5px;
    border:5px solid grey;
    display:inline-block;
    border-radius: 35%;
    cursor:pointer;
    font-size:25px;
    font-weight: 700;
    background-color: #ffc30f;
}
.key:hover {
    background-color: blue;
}
.succes{
    background-color: green;
}
.fail{
    background-color: red;
}

/*added duckground ...DUCKground .. funny " */
.header{
    background-color: #75D2F7;
    height: 200px;
    display: flex;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-family: 'Audiowide', cursive;
    font-size: 30px;
}

.duck{
    width: 300px;
    background-color: #75D2F7;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.duckBody
{
    z-index: 3;
    background-color: gold;
    height: 100px;
    width: 80px;
    border-radius:70%/ 90% 90% 50% 50%;
    position:relative;
    border:0.5px solid black;


}
.leftWing{
    width: 30px;
    height: 92px;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    transform: rotate(45deg);
    bottom:58px;
    left:105px;
    animation-name: wingUpLeft;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    border:0.5px solid black;
}
.rightWing{
    width: 30px;
    height: 92px;
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    transform: rotate(-45deg);
    left:167px;
    bottom:58px;
    animation-name: wingUpRight;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    border:0.5px solid black;

}
.duckBody:after
{
    z-index: 4;
    display: block;
    content:" ";
    background-color: white;
    height: 100px;
    width: 80px;
    border-radius:70%/ 90% 90% 50% 50%;
    position:absolute;
    transform: scale(0.5);
    border:0.5px solid black;
}
.duckHead{
    background-color: gold;
    height: 75px;
    width: 80px;
    border-radius: 50%;
    position:absolute;
    left: 40px;
    bottom:60px;
    transform: translate(-50%, 0);
    z-index: 4;
    border:0.5px solid black;
    z-index: 5;
}
.rightEye{
    position:absolute;
    height: 20px;
    width: 20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: white;
    top:15px;
    right: 13px;
}
.rightEye:after{
    display: block;
    content:" ";
    background-color: black;
    height: 20px;
    width: 20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position:relative;
    transform: scale(0.5) translate(9px, 0px);
    z-index: 1;
    top:5px;
    animation-name: moveEyes;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.leftEye{
    position:absolute;
    height: 20px;
    width: 20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: white;
    right: 47px;
    top:15px;
}
.leftEye:after{
    display: block;
    content:" ";
    background-color: black;
    height: 20px;
    width: 20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    position:relative;
    transform: scale(0.5) translate(9px, 0px);
    z-index: 1;
    top:5px;
    animation-name: moveEyes;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.upperBeak{
    width:20px;
    height:7px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    right: 30px;
    top: 49px;
    border:solid 0.5px black;
    z-index: 7;
}
.bottomBeak{
    width:18px;
    height:7px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    right: 31px;
    top: 52px;
    border:solid 0.5px black;
}
@keyframes wingUpRight {
    0%   {transform: rotate(-45deg)}


    100% {transform:rotate(-70deg)}
}
@keyframes wingUpLeft {
    0%   {transform: rotate(45deg)}


    100% {transform:rotate(70deg)}
}
@keyframes moveEyes {
    0% {transform: scale(0.5) translate(9px, 0px);}

    100%{ transform: scale(0.5) translate(-10px, 0px);}
}
.background{
    background-color: #75D2F7;
    background-image: url("../img/waterBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    width: 100%;
    position:relative;
}
.rubberDuck{
    height: 300px;
    width: 300px;
    background-image: url("../img/rubberduck.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    bottom:5px;
    right:110%;
    animation-name: moveDuck;
    animation-duration: 14s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
@keyframes moveDuck {
    0%{right: -25%}

    15%{transform: rotate(15deg)}

    30%{transform: rotate(-15deg)}
    45%{transform: rotate(5deg)}
    70%{transform: rotate(-10deg)}
    90%{transform: rotate(0deg)}
    100%{right:110%;)}
}
